@model WGO.Models.CharacterViewModel

@{
    string name = "Character could not be found.";
    bool nameFound = false;
    bool auditFound = false;
    WGO.JSON.JSONCharacterItems items = null;

    if (Model.Character != null)
    {
        name = Model.Character.Name;
        items = Newtonsoft.Json.JsonConvert.DeserializeObject<WGO.JSON.JSONCharacterItems>(Model.Character.Items);
        nameFound = true;
    }

    if (Model.Audit != null)
    {
        auditFound = true;
    }
}

<h1>@name</h1>

<p>
    <a href="@ViewBag.ReturnUrl">Return</a>
</p>

@if (nameFound)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Gear</h2>
            <table border="1">
                <tr>
                    <td width="20%">
                        <b>Slot</b>
                    </td>
                    <td width="30%">
                        <b>Name</b>
                    </td>
                    <td width="20%">
                        <b>Level</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        TEST
                    </td>
                    <td width="30%" style="color:purple">
                        Greathelm of Rezan's Bladeguard
                    </td>
                    <td width="20%">
                        340
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        Head
                    </td>
                    <td width="30%" style="color:@(items.Head.Quality == 4 ? "purple" : items.Head.Quality == 3 ? "green" : "White")">
                        @items.Head.Name
                    </td>
                    <td width="20%">
                        @items.Head.ItemLevel
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        Shoulder
                    </td>
                    <td width="30%" style="color:@(items.Shoulder.Quality == 4 ? "purple" : items.Shoulder.Quality == 3 ? "green" : "White")">
                        @items.Shoulder.Name
                    </td>
                    <td width="20%">
                        @items.Shoulder.ItemLevel
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
@if (auditFound)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Audit</h2>
            <table border="1">
                <tr>
                    <td width="20%">
                        <b>Number of Issues</b>
                    </td>
                    <td width="30%">
                        <b>@Model.Audit.Audit.NumberOfIssues</b>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        Empty Glyph Slots
                    </td>
                    <td width="30%">
                        @Model.Audit.Audit.EmptyGlyphSlots
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        Unspent Talent Points
                    </td>
                    <td width="30%">
                        @Model.Audit.Audit.UnspentTalentPoints
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        No Spec
                    </td>
                    <td width="30%">
                        @Model.Audit.Audit.NoSpec
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        Empty Sockets
                    </td>
                    <td width="30%">
                        @Model.Audit.Audit.EmptySockets
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        Low Level Threshold
                    </td>
                    <td width="30%">
                        @Model.Audit.Audit.LowLevelThreshold
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
