@model WGO.Models.CharacterViewModel

@{
    string name = "Character could not be found.";
    string realm = string.Empty;
    bool nameFound = false;

    WGO.JSON.JSONCharacterItems items = null;
    ViewBag.Title = "Character";

    if (Model.Character != null)
    {
        name = Model.Character.Name;
        realm = Model.Character.Realm;
        ViewBag.Title = name;
        items = Newtonsoft.Json.JsonConvert.DeserializeObject<WGO.JSON.JSONCharacterItems>(Model.Character.Items);
        nameFound = true;
    }
}

<h1>@name</h1>

<p>
    <a href="@ViewBag.ReturnUrl">Return</a>
</p>

@if (nameFound)
{
    <p>
        <a href="https://worldofwarcraft.com/en-us/character/@Model.Character.Realm/@Model.Character.Name" target="_blank">Blizzard's Battle.Net Page</a>
    </p>

    @* Table Display *@
    <div class="card" id="tableDisplay" style="display:none;">
        <div class="card-body">
            <h3>Gear</h3>
            <table border="1">
                <tr>
                    <td width="10%">
                        <b>Slot</b>
                    </td>
                    <td width="30%">
                        <b>Name</b>
                    </td>
                    <td width="10%">
                        <b>Level</b>
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        Head
                    </td>
                    <td width="30%" style="color:@(items.Head.Quality == 6 ? "#cd7f32" : (items.Head.Quality == 5 ? "orange" : (items.Head.Quality == 4 ? "purple" : (items.Head.Quality == 3 ? "blue" : (items.Head.Quality == 2 ? "green" : "White")))))">
                        @items.Head.Name
                    </td>
                    <td width="10%">
                        @items.Head.ItemLevel
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        Neck
                    </td>
                    <td width="30%" style="color:@(items.Neck.Quality == 6 ? "#cd7f32" : (items.Neck.Quality == 5 ? "orange" : (items.Neck.Quality == 4 ? "purple" : (items.Neck.Quality == 3 ? "blue" : (items.Neck.Quality == 2 ? "green" : "White")))))">
                        @items.Neck.Name
                    </td>
                    <td width="10%">
                        @items.Neck.ItemLevel
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        Shoulder
                    </td>
                    <td width="30%" style="color:@(items.Shoulder.Quality == 6 ? "#cd7f32" : (items.Shoulder.Quality == 5 ? "orange" : (items.Shoulder.Quality == 4 ? "purple" : (items.Shoulder.Quality == 3 ? "blue" : (items.Shoulder.Quality == 2 ? "green" : "White")))))">
                        @items.Shoulder.Name
                    </td>
                    <td width="10%">
                        @items.Shoulder.ItemLevel
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        Back
                    </td>
                    <td width="30%" style="color:@(items.Back.Quality == 6 ? "#cd7f32" : (items.Back.Quality == 5 ? "orange" : (items.Back.Quality == 4 ? "purple" : (items.Back.Quality == 3 ? "blue" : (items.Back.Quality == 2 ? "green" : "White")))))">
                        @items.Back.Name
                    </td>
                    <td width="10%">
                        @items.Back.ItemLevel
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        Chest
                    </td>
                    <td width="30%" style="color:@(items.Chest.Quality == 6 ? "#cd7f32" : (items.Chest.Quality == 5 ? "orange" : (items.Chest.Quality == 4 ? "purple" : (items.Chest.Quality == 3 ? "blue" : (items.Chest.Quality == 2 ? "green" : "White")))))">
                        @items.Chest.Name
                    </td>
                    <td width="10%">
                        @items.Chest.ItemLevel
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        Wrist
                    </td>
                    <td width="30%" style="color:@(items.Wrist.Quality == 6 ? "#cd7f32" : (items.Wrist.Quality == 5 ? "orange" : (items.Wrist.Quality == 4 ? "purple" : (items.Wrist.Quality == 3 ? "blue" : (items.Wrist.Quality == 2 ? "green" : "White")))))">
                        @items.Wrist.Name
                    </td>
                    <td width="10%">
                        @items.Wrist.ItemLevel
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        Hands
                    </td>
                    <td width="30%" style="color:@(items.Hands.Quality == 6 ? "#cd7f32" : (items.Hands.Quality == 5 ? "orange" : (items.Hands.Quality == 4 ? "purple" : (items.Hands.Quality == 3 ? "blue" : (items.Hands.Quality == 2 ? "green" : "White")))))">
                        @items.Hands.Name
                    </td>
                    <td width="10%">
                        @items.Hands.ItemLevel
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        Waist
                    </td>
                    <td width="30%" style="color:@(items.Waist.Quality == 6 ? "#cd7f32" : (items.Waist.Quality == 5 ? "orange" : (items.Waist.Quality == 4 ? "purple" : (items.Waist.Quality == 3 ? "blue" : (items.Waist.Quality == 2 ? "green" : "White")))))">
                        @items.Waist.Name
                    </td>
                    <td width="10%">
                        @items.Waist.ItemLevel
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        Legs
                    </td>
                    <td width="30%" style="color:@(items.Legs.Quality == 6 ? "#cd7f32" : (items.Legs.Quality == 5 ? "orange" : (items.Legs.Quality == 4 ? "purple" : (items.Legs.Quality == 3 ? "blue" : (items.Legs.Quality == 2 ? "green" : "White")))))">
                        @items.Legs.Name
                    </td>
                    <td width="10%">
                        @items.Legs.ItemLevel
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        Feet
                    </td>
                    <td width="30%" style="color:@(items.Feet.Quality == 6 ? "#cd7f32" : (items.Feet.Quality == 5 ? "orange" : (items.Feet.Quality == 4 ? "purple" : (items.Feet.Quality == 3 ? "blue" : (items.Feet.Quality == 2 ? "green" : "White")))))">
                        @items.Feet.Name
                    </td>
                    <td width="10%">
                        @items.Feet.ItemLevel
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        Finger1
                    </td>
                    <td width="30%" style="color:@(items.Finger1.Quality == 6 ? "#cd7f32" : (items.Finger1.Quality == 5 ? "orange" : (items.Finger1.Quality == 4 ? "purple" : (items.Finger1.Quality == 3 ? "blue" : (items.Finger1.Quality == 2 ? "green" : "White")))))">
                        @items.Finger1.Name
                    </td>
                    <td width="10%">
                        @items.Finger1.ItemLevel
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        Finger2
                    </td>
                    <td width="30%" style="color:@(items.Finger2.Quality == 6 ? "#cd7f32" : (items.Finger2.Quality == 5 ? "orange" : (items.Finger2.Quality == 4 ? "purple" : (items.Finger2.Quality == 3 ? "blue" : (items.Finger2.Quality == 2 ? "green" : "White")))))">
                        @items.Finger2.Name
                    </td>
                    <td width="10%">
                        @items.Finger2.ItemLevel
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        Trinket1
                    </td>
                    <td width="30%" style="color:@(items.Trinket1.Quality == 6 ? "#cd7f32" : (items.Trinket1.Quality == 5 ? "orange" : (items.Trinket1.Quality == 4 ? "purple" : (items.Trinket1.Quality == 3 ? "blue" : (items.Trinket1.Quality == 2 ? "green" : "White")))))">
                        @items.Trinket1.Name
                    </td>
                    <td width="10%">
                        @items.Trinket1.ItemLevel
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        Trinket2
                    </td>
                    <td width="30%" style="color:@(items.Trinket2.Quality == 6 ? "#cd7f32" : (items.Trinket2.Quality == 5 ? "orange" : (items.Trinket2.Quality == 4 ? "purple" : (items.Trinket2.Quality == 3 ? "blue" : (items.Trinket2.Quality == 2 ? "green" : "White")))))">
                        @items.Trinket2.Name
                    </td>
                    <td width="10%">
                        @items.Trinket2.ItemLevel
                    </td>
                </tr>
                <tr>
                    <td width="10%">
                        Weapon
                    </td>
                    <td width="30%" style="color:@(items.MainHand.Quality == 6 ? "#cd7f32" : (items.MainHand.Quality == 5 ? "orange" : (items.MainHand.Quality == 4 ? "purple" : (items.MainHand.Quality == 3 ? "blue" : (items.MainHand.Quality == 2 ? "green" : "White")))))">
                        @items.MainHand.Name
                    </td>
                    <td width="10%">
                        @items.MainHand.ItemLevel
                    </td>
                </tr>
                @if (items.OffHand != null)
                {
                    <tr>
                        <td width="10%">
                            Off Hand
                        </td>
                        <td width="30%" style="color:@(items.OffHand.Quality == 6 ? "#cd7f32" : (items.OffHand.Quality == 5 ? "orange" : (items.OffHand.Quality == 4 ? "purple" : (items.OffHand.Quality == 3 ? "blue" : (items.OffHand.Quality == 2 ? "green" : "White")))))">
                            @items.OffHand.Name
                        </td>
                        <td width="10%">
                            @items.OffHand.ItemLevel
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    @* Grid Display *@
    <div class="container" id="gridDisplay">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="@(items.Head.Quality == 6 ? "card-bronze" : (items.Head.Quality == 5 ? "card-orange" : (items.Head.Quality == 4 ? "card-purple" : (items.Head.Quality == 3 ? "card-blue" : (items.Head.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">Head</h5>
                            <h6 class="card-subtitle text-muted">@items.Head.ItemLevel</h6>
                            <p class="card-text">@items.Head.Name</p>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h4>@Model.Character.Name</h4>
                        <h6>Level @Model.Character.Level</h6>
                        <h6>@Model.Character.Race @Model.Character.Class</h6>
                    </div>
                    <div class="col-sm-3">
                        <div class="@(items.Hands.Quality == 6 ? "card-bronze" : (items.Hands.Quality == 5 ? "card-orange" : (items.Hands.Quality == 4 ? "card-purple" : (items.Hands.Quality == 3 ? "card-blue" : (items.Hands.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">Hands</h5>
                            <h6 class="card-subtitle text-muted">@items.Hands.ItemLevel</h6>
                            <p class="card-text">@items.Hands.Name</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="@(items.Neck.Quality == 6 ? "card-bronze" : (items.Neck.Quality == 5 ? "card-orange" : (items.Neck.Quality == 4 ? "card-purple" : (items.Neck.Quality == 3 ? "card-blue" : (items.Neck.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">Neck @(items.Neck.Quality == 6 ? $"[{items.Neck.AzeriteItem.AzeriteLevel}]" : "")</h5>
                            <h6 class="card-subtitle text-muted">@items.Neck.ItemLevel</h6>
                            <p class="card-text">@items.Neck.Name</p>
                        </div>
                    </div>
                    <div class="col-sm-8 text-center">
                        <h6>Equipped iLevel @Model.Character.Equipped_iLevel</h6>
                        <h6>Max iLevel @Model.Character.Max_iLevel</h6>
                    </div>
                    <div class="col-sm-2">
                        <div class="@(items.Waist.Quality == 6 ? "card-bronze" : (items.Waist.Quality == 5 ? "card-orange" : (items.Waist.Quality == 4 ? "card-purple" : (items.Waist.Quality == 3 ? "card-blue" : (items.Waist.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">Waist</h5>
                            <h6 class="card-subtitle text-muted">@items.Waist.ItemLevel</h6>
                            <p class="card-text">@items.Waist.Name</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="@(items.Shoulder.Quality == 6 ? "card-bronze" : (items.Shoulder.Quality == 5 ? "card-orange" : (items.Shoulder.Quality == 4 ? "card-purple" : (items.Shoulder.Quality == 3 ? "card-blue" : (items.Shoulder.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">Shoulder</h5>
                            <h6 class="card-subtitle text-muted">@items.Shoulder.ItemLevel</h6>
                            <p class="card-text">@items.Shoulder.Name</p>
                        </div>
                    </div>
                    <div class="col-sm-8 text-center">
                    </div>
                    <div class="col-sm-2">
                        <div class="@(items.Legs.Quality == 6 ? "card-bronze" : (items.Legs.Quality == 5 ? "card-orange" : (items.Legs.Quality == 4 ? "card-purple" : (items.Legs.Quality == 3 ? "card-blue" : (items.Legs.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">Legs</h5>
                            <h6 class="card-subtitle text-muted">@items.Legs.ItemLevel</h6>
                            <p class="card-text">@items.Legs.Name</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="@(items.Back.Quality == 6 ? "card-bronze" : (items.Back.Quality == 5 ? "card-orange" : (items.Back.Quality == 4 ? "card-purple" : (items.Back.Quality == 3 ? "card-blue" : (items.Back.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">Back</h5>
                            <h6 class="card-subtitle text-muted">@items.Back.ItemLevel</h6>
                            <p class="card-text">@items.Back.Name</p>
                        </div>
                    </div>
                    <div class="col-sm-8 text-center">
                    </div>
                    <div class="col-sm-2">
                        <div class="@(items.Feet.Quality == 6 ? "card-bronze" : (items.Feet.Quality == 5 ? "card-orange" : (items.Feet.Quality == 4 ? "card-purple" : (items.Feet.Quality == 3 ? "card-blue" : (items.Feet.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">Feet</h5>
                            <h6 class="card-subtitle text-muted">@items.Feet.ItemLevel</h6>
                            <p class="card-text">@items.Feet.Name</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="@(items.Chest.Quality == 6 ? "card-bronze" : (items.Chest.Quality == 5 ? "card-orange" : (items.Chest.Quality == 4 ? "card-purple" : (items.Chest.Quality == 3 ? "card-blue" : (items.Chest.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">Chest</h5>
                            <h6 class="card-subtitle text-muted">@items.Chest.ItemLevel</h6>
                            <p class="card-text">@items.Chest.Name</p>
                        </div>
                    </div>
                    <div class="col-sm-8 text-center">
                    </div>
                    <div class="col-sm-2">
                        <div class="@(items.Finger1.Quality == 6 ? "card-bronze" : (items.Finger1.Quality == 5 ? "card-orange" : (items.Finger1.Quality == 4 ? "card-purple" : (items.Finger1.Quality == 3 ? "card-blue" : (items.Finger1.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">Finger1</h5>
                            <h6 class="card-subtitle text-muted">@items.Finger1.ItemLevel</h6>
                            <p class="card-text">@items.Finger1.Name</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        @if (items.Shirt != null)
                        {
                            <div class="@(items.Shirt.Quality == 6 ? "card-bronze" : (items.Shirt.Quality == 5 ? "card-orange" : (items.Shirt.Quality == 4 ? "card-purple" : (items.Shirt.Quality == 3 ? "card-blue" : (items.Shirt.Quality == 2 ? "card-green" : "card")))))">
                                <h5 class="card-title">Shirt</h5>
                                <h6 class="card-subtitle text-muted">@items.Shirt.ItemLevel</h6>
                                <p class="card-text">@items.Shirt.Name</p>
                            </div>
                        }
                    </div>
                    <div class="col-sm-8 text-center">
                    </div>
                    <div class="col-sm-2">
                        <div class="@(items.Finger2.Quality == 6 ? "card-bronze" : (items.Finger2.Quality == 5 ? "card-orange" : (items.Finger2.Quality == 4 ? "card-purple" : (items.Finger2.Quality == 3 ? "card-blue" : (items.Finger2.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">Finger2</h5>
                            <h6 class="card-subtitle text-muted">@items.Finger2.ItemLevel</h6>
                            <p class="card-text">@items.Finger2.Name</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        @if (items.Tabard != null)
                        {
                        <div class="@(items.Tabard.Quality == 6 ? "card-bronze" : (items.Tabard.Quality == 5 ? "card-orange" : (items.Tabard.Quality == 4 ? "card-purple" : (items.Tabard.Quality == 3 ? "card-blue" : (items.Tabard.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">Tabard</h5>
                            <h6 class="card-subtitle text-muted">@items.Tabard.ItemLevel</h6>
                            <p class="card-text">@items.Tabard.Name</p>
                        </div>
                        }
                    </div>
                    <div class="col-sm-8 text-center">
                    </div>
                    <div class="col-sm-2">
                        <div class="@(items.Trinket1.Quality == 6 ? "card-bronze" : (items.Trinket1.Quality == 5 ? "card-orange" : (items.Trinket1.Quality == 4 ? "card-purple" : (items.Trinket1.Quality == 3 ? "card-blue" : (items.Trinket1.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">Trinket1</h5>
                            <h6 class="card-subtitle text-muted">@items.Trinket1.ItemLevel</h6>
                            <p class="card-text">@items.Trinket1.Name</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="@(items.Wrist.Quality == 6 ? "card-bronze" : (items.Wrist.Quality == 5 ? "card-orange" : (items.Wrist.Quality == 4 ? "card-purple" : (items.Wrist.Quality == 3 ? "card-blue" : (items.Wrist.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">Wrist</h5>
                            <h6 class="card-subtitle text-muted">@items.Wrist.ItemLevel</h6>
                            <p class="card-text">@items.Wrist.Name</p>
                        </div>
                    </div>
                    <div class="col-sm-8 text-center">
                    </div>
                    <div class="col-sm-2">
                        <div class="@(items.Trinket2.Quality == 6 ? "card-bronze" : (items.Trinket2.Quality == 5 ? "card-orange" : (items.Trinket2.Quality == 4 ? "card-purple" : (items.Trinket2.Quality == 3 ? "card-blue" : (items.Trinket2.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">Trinket2</h5>
                            <h6 class="card-subtitle text-muted">@items.Trinket2.ItemLevel</h6>
                            <p class="card-text">@items.Trinket2.Name</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-right">
                        <div class="@(items.MainHand.Quality == 6 ? "card-bronze" : (items.MainHand.Quality == 5 ? "card-orange" : (items.MainHand.Quality == 4 ? "card-purple" : (items.MainHand.Quality == 3 ? "card-blue" : (items.MainHand.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">MainHand</h5>
                            <h6 class="card-subtitle text-muted">@items.MainHand.ItemLevel</h6>
                            <p class="card-text">@items.MainHand.Name</p>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                    </div>
                    <div class="col-sm-4 text-left">
                        <div class="@(items.OffHand.Quality == 6 ? "card-bronze" : (items.OffHand.Quality == 5 ? "card-orange" : (items.OffHand.Quality == 4 ? "card-purple" : (items.OffHand.Quality == 3 ? "card-blue" : (items.OffHand.Quality == 2 ? "card-green" : "card")))))">
                            <h5 class="card-title">OffHand</h5>
                            <h6 class="card-subtitle text-muted">@items.OffHand.ItemLevel</h6>
                            <p class="card-text">@items.OffHand.Name</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" id="auditButton" style="margin: 1em 0em 1em 0em">Perform Character Audit</button>
    <button class="btn btn-primary" id="toggleButton" style="margin: 1em 0em 1em 0em">Toggle Character Display</button>

    <div class="card" id="auditCard">
        @Html.Raw(Model.AuditHtml)
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryblock")
    <script type="text/javascript">
            $(function () {
                @*$('#auditButton').click(function () {
                    $.blockUI();
                    $.ajax({
                        url: "@(Url.Action("Audit", "WGO"))",
                        type: "POST",
                        data: { name: "@name", realm: "@realm" },
                        cache: false,
                        async: true,
                        success: function (data) {
                            if (data != "") {
                                $('#auditCard').empty();
                                $('<div class="newtable">').html(data).appendTo('#auditCard');
                                $.unblockUI();
                            }
                        }
                    });
                });*@

                $('#toggleButton').click(function () {
                    $("#tableDisplay").toggle();
                    $("#gridDisplay").toggle();
                });
            });
        </script>
}
