@model List<WGO.Models.Character>

@{
    ViewBag.Title = "Not Found";
    string message = string.Empty;

    if (Model == null || Model.Count == 0)
    {
        message = "No characters could be found.";
    }
}

<h2>Display</h2>

@if (!string.IsNullOrWhiteSpace(message))
{
    <div>@message</div>
}
else
{
    <table border="1">
        <tr>
            <td width="30%">
                <b>Name</b>
            </td>
            <td width="20%">
                <b>Level</b>
            </td>
            <td width="25%">
                <b>Class</b>
            </td>
            <td width="25%">
                <b>Achievement Points</b>
            </td>
        </tr>
        @foreach (WGO.Models.Character c in Model)
        {
            if (c != null)
            {
                <tr>
                    <td width="30%">
                        @c.Name
                    </td>
                    <td width="20%">
                        @c.Level
                    </td>
                    <td width="25%">
                        @c.Class
                    </td>
                    <td width="25%">
                        @c.AchievementPoints
                    </td>
                </tr>
            }
        }
    </table>
}