@using WGO.Models

@model List<Character>
@{
    ViewBag.Title = "Guild";
}

<h2>Guild Roster</h2>

@Html.ValidationSummary()

<div class="card">
    <div class="card-body">
        @Html.Partial("_MVCGridToolbar", new MVCGridToolbarModel()
        {
            MVCGridName = "GuildRoster",
            PageSize = true,
            ColumnVisibility = false,
            Export = false,
            GlobalSearch = true
        })
        @Html.MVCGrid("GuildRoster")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryblock")
}

