@using WGO.Models

@{
    ViewBag.Title = "Guild";

    int rowNumber = 0;
    int pageSize = 10;
    int pageNumber = Convert.ToInt32(ViewBag.PageNumber);
    if ((pageNumber) > 1)
    {
        rowNumber = (pageSize * (pageNumber - 1)) + rowNumber;
    }
}

<h2>Guild Roster</h2>

@Html.ValidationSummary()

<div class="card">
    <div class="card-body">
        @Html.Partial("_MVCGridToolbar", new MVCGridToolbarModel()
        {
            MVCGridName = "GuildRoster",
            PageSize = true,
            ColumnVisibility = false,
            Export = false,
            GlobalSearch = true
        })
        @Html.MVCGrid("GuildRoster")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryblock")
}

