@using WGO.Models

@model SearchViewModel
@{
    ViewBag.Title = "Raid";
}

<h2>Raid Roster</h2>

<div class="card">
    <div class="card-body">
        @Html.MVCGrid("RaidRoster")
    </div>
</div>

<button class="btn btn-primary" id="reloadButton" style="margin: 1em 0em 1em 0em">Rescan Raid Roster</button>
@Html.ActionLink("Raid Roster Audit", "RaidRosterAudit", "WGO", new { Metric = 3 }, new { @class = "btn btn-primary" })

@using (Html.BeginForm("Raid", "WGO"))
{
    <div class="row" style="padding-top:50px;">
        <div class="col-md-8">
            <section id="searchForm" class="form-horizontal">
                @Html.AntiForgeryToken()
                @Html.ValidationMessageFor(m => m.Character)
                <h4>Add a new character to the Raid Roster.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.LabelFor(m => m.Realm, new { @class = "col-md-2 col-form-label text-right font-weight-bold" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Realm, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Realm, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.Character, new { @class = "col-md-2 col-form-label text-right font-weight-bold" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Character, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Character, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.Role, new { @class = "col-md-2 col-form-label text-right font-weight-bold" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.Role, Model.Roles, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Role, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-md-2 col-md-10">
                        <input type="submit" value="Add" class="btn btn-primary" />
                    </div>
                </div>
            </section>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryblock")
    <script type="text/javascript">
        $(function () {
            $('#reloadButton').click(function () {
                $.blockUI();
                window.location.href = '/WGO/Rescan/@@All/@@All';
            });
        });

        function showLoading() {
            $.blockUI();
        }

        function hideLoading() {
            $.unblockUI();
        }
    </script>
}




