@model List<WGO.CharacterAuditResult>

@{
    ViewBag.Title = "Raid Roster Audit";
    int count = 1;
    int avg = 0;

    foreach (CharacterAuditResult audit in Model)
    {
        avg += audit.IssueCount;
    }
}

    <h2>Raid Roster Audit</h2>

    <table class="table">
        <caption>Total Issues: @avg</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Character</th>
                <th scope="col">Missing Enchants</th>
                <th scope="col">Missing Gems</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CharacterAuditResult audit in Model)
            {
                <tr class=@(audit.IssueCount > 0 ? "table-danger" : "table-success")>
                    <th scope="row">@(count++)</th>
                    <td>@Html.ActionLink(audit.Name, "Character", "WGO", new { name = audit.Name, realm = audit.Realm }, null)</td>
                    <td>@audit.MissingEnchants.Count</td>
                    <td>@audit.MissingGems.Count</td>
                </tr>
            }
        </tbody>
    </table>